*,
*::before
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

header {
    position: relative;
    text-align: left;
    width: 100%;
    background-color: white;
    padding: 1em;
}

body {
    background-color:rgb(220, 243, 250);
}

.text {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.text_muted {
    font-family:Georgia, 'Times New Roman', Times, serif;
    color: gray;
}

.Post_Card {
    width: 500px;
    background-color: white;
    padding: 10px;
    margin: 0 auto;
    border: 1px solid black;  
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 8px;
}

.Display_Card {
    width: 500px;
    background-color: white;
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 40px;
    margin: 0 auto;
    border: 1px solid black;  
    box-shadow: 5px 7px 10px 0 rgba(0,0,0,0.4);
    transition: 0.3s;
    border-radius: 8px;
}

/* .form-group {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: gray;
    padding-top: 3px;
} */

.form-control-name {
    width: 300px;
    border-radius: 5px;
    border-color:lightgray;
    border-width: 1px;
}

.form-control-post {
    width: 300px;
    border-radius: 5px;
    border-color:lightgray;
    border-width: 1px;
}

.Name {
    padding-right: 50px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.Post {
    padding-right: 60px;
    color: gray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.btn-btn-primary {
    float: right;
    background-color:darkcyan;
    color: white;
    border: none;
    font-size: x-small;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
}

.likeButton {
    background-image: url(../src/Components/Post/Assets/like.png) alt="Thumbs Up";
    background-size: cover;
    border: none;
    width: 30px;
    height: 30px;
    padding-right: 20px;
    float: right
 }

 .dislikeButton {
    background-image: url(../src/Components/Post/Assets/dislike.png) alt="Thumbs Down";
    background-size: cover;
    border: none;
    width: 30px;
    height: 30px;
    padding-right: 5px;
    float: right
 }
  
 .activeLike {
    color:blue
 }

 .activeDislike {
    color: red
 }

 .inactive{
    color: gray
 }
 
 
